/login_page_frontend/node_modules/
/LoginPageBackend/src/main/resources/loginpagedemo-25d91-firebase-adminsdk-w3zc5-cc585b9bd0.json
/LoginPageBackend/src/main/resources/reina-s-base-firebase-adminsdk-gbnda-0f9f801fda.json
/LoginPageBackend/target/classes/reina-s-base-firebase-adminsdk-gbnda-0f9f801fda.json
/LoginPageBackend/target/classes/loginpagedemo-25d91-firebase-adminsdk-w3zc5-cc585b9bd0.json
